<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global headers -->
    <%- include('components/head.ejs'); %>
    <title>Document</title>
  </head>
<!-- Main content -->
  <body>
    

    <!-- Script section -->
    <script></script>
  </body>
</html>
